body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

.space {
  letter-spacing: 2px;
}

p {
  color: #7581a1;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

h1 {
  font-size: 80px;
  color: #192b59;
  font-weight: 600;
}

span {
  display: block;
  color: #1085e4;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav  {
  font-size: 12px;
  color: #6e7ea9;
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.btn-free {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  background-color: #1085e4;
}

.grid h2 {
  color: #192b59;
  font-size: 40px;
  font-weight: 700;
}

.grid h2 span {
  display: block;
  color: #1085e4;
  font-size: 14px;
  font-weight: 800;
}

.grid-item h3 {
  color: #192b59;
  font-size: 20px;
  font-weight: 600;
}

.grid-item a {
  color: #1085e4;
  font-size: 14px;
  font-weight: 600;
}

.grid p span {
  display: inline;
  color: #192b59;
  font-size: 16px;
  font-weight: 700;
  text-transform: none;
  letter-spacing: 0px;
}

.grid p:last-child {
  color: #1085e4;
  font-size: 14px;
  font-weight: 400;
}

.page-header .getlearn a:first-child {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  background-color: #1085e4;
  font-weight: bold;
}

.page-header .getlearn a {
  font-weight: bold;
  color: #7e8bae;
  background-color: #cbdbe8;
  font-size: 12px;
  text-transform: uppercase;
}

.page-subscribe h2 {
  color: #bbb;
  font-weight: 600;
  font-size: 50px;
}

.page-subscribe p {
  font-size: 18px;
  font-weight: 400;
  color: #dfe8ff;
}

.page-subscribe input {
  color: #dfe8ff;
  font-size: 14px;
  font-weight: 400;
}

.page-subscribe button {
  background-color: #1085e4;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}

.page-software h2 {
  color: #192b59;
  font-size: 50px;
  font-weight: 600;
}

.page-software dl dd {
  color: #7581a1;
  font-size: 14px;
  font-weight: 400;
}

.page-software dl dt {
  font-weight: 700;
  font-size: 16px;
  color: #5a6789;
}

.page-stat h2 {
  color: #192b59;
  font-size: 50px;
  font-weight: 600;
}

.page-stat h2 span {
  display: block;
  color: #1085e4;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.page-stat span {
  color: #bacbdc;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: normal;
}

.page-stat ul li {
  color: #1085e4;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  list-style: none;
  letter-spacing: 2px;
}

.page-app h2 {
  color: #192b59;
  font-size: 50px;
  font-weight: 600;
}

.page-app .av {
  color: #c4d2dd;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.page-analytics h2 {
  color: #192b59;
  font-size: 50px;
  font-weight: 600;
}

.page-analytics a {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1085e4;
  text-transform: uppercase;
}

.page-easy h2 {
  color: #192b59;
  font-size: 50px;
  font-weight: 600;
}

.page-easy a {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1085e4;
  text-transform: uppercase;
}

.page-screen h2 {
  letter-spacing: 3px;
  color: #192b59;
  font-size: 40px;
  font-weight: 600;
}

.page-clients h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  background-color: #1085e4;
}

.box-clients .name {
  font-size: 22px;
  font-weight: 600;
  color: #000958;
}

.box-clients .position {
  font-size: 14px;
  font-weight: 700;
  color: #1085e4;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.page-plan h2 {
  color: #192b59;
  font-weight: 600;
  font-size: 40px;
}

.box-price-item h3 {
  color: #000958;
  font-weight: 700;
  font-size: 70px;
}

.box-price-item span {
  display: inline;
}

.box-price-item p {
  color: #3496ff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.box-price-item ul {
  color: #8085b1;
  font-size: 14px;
  font-weight: 400;
  list-style: none;
}

.box-price-item a {
  color: #8085b1;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.active ul {
  color: #fff;
  background-color: #192b59;
}

.active h3 {
  color: #fff;
  background-color: #192b59;
}

.active h3 span:first-child {
  color: #fff;
}

.active h3 span {
  color: #7b8ab2;
}

.active p {
  color: #fff;
  background-color: #192b59;
}

.active a {
  color: #fff;
  background-color: #3496ff;
}

.box-price-item:nth-child(3) h3 span:last-child {
  color: #7b8ab2;
}

.box-price-item:nth-child(3) h3 span {
  color: #192b59;
}

.page-team h2 span {
  color: #85c8ff;
}

.page-team h2 {
  background-color: #1a88e1;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}

.box-team p {
  color: #192b59;
  font-size: 26px;
  font-weight: 600;
}

.box-team div p:first-child {
  color: #1a88e1;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.page-form h2 {
  color: #192b59;
  font-size: 50px;
  font-weight: 600;
}

.page-form input, textarea {
  color: #8995b3;
  font-size: 14px;
  font-weight: 400;
}

.page-form button {
  color: #fff;
  background-color: #1085e4;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 700;
}

.footer p {
  color: #b6bae0;
}

.footer a {
  color: #1085e4;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
